@media (max-width: 320px) {
    * {
        font-size: 20px;
    }
}

@media (min-width: 320px) {
    .discografia {
      grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 320px) {
    .sectiontitulo {
        font-size: 20px;
    }
}


.integrantes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @media (max-width: 320px) {
        flex-direction: column;
    }
}

.grid-banda {
    @media (min-width: 320px) {
        grid-template-columns: repeat(1, 1fr);
    }
}