

@mixin imagengeneral($br,$bs,$height,$width)
{
    background-repeat: $br;
    background-size: $bs;
    height: $height;
    width: $width;
}

@mixin titulos($di,$fd,$jc,$fw)
{
    display: $di;
    flex-direction: $fd;
    justify-content: $jc;
    flex-wrap: $fw;
}