.sectionhistoria {
  color: $colorletra;
  font-size: 30px;
}

.imagendos {
  @include imagengeneral(no-repeat, contain, 38.75rem, 100%);
  background-image: url(guille.jpg);

}


.titulointegrantes {
  @include medidas(60px, center);
  color: $colorletra;
  background-color: $header-background;

}

.integrantes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


a {
  position: relative;
}


img {
  width: 100%;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);

  }
}


h3 {
  text-align: center;
}

.grid-banda {
  display: grid;
  grid-gap: 22px;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    transition: transform 0.3 ease-in-out;
  }

  img:hover {
    transform: scale(1.2);
  }

}


footer {
  .logoredess {
    background-color: $header-background;
    text-align: center;

    a {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}